In [1]:
import pandas as pd

In [17]:
df = pd.read_excel('ticker.xlsx', index_col=0)
df

,Company,Shariah,Sector,Market Cap,Last Price,PE,DY,ROE
0,AASIA (7054) MAIN ASTRAL ASIA BERHAD,NaN,Plantation,72.60m,0.11,-,0,-2.16
1,AAX (5238) MAIN AIRASIA X BERHAD,NaN,"Travel, Leisure & Hospitality",539.26m,1.30,-,0,-
2,ABFMY1 (0800EA) ETF ABF MALAYSIA BOND INDEX ...,NaN,Bond Fund,1.679b,1.17,-,3.28,-
3,ABLEGLOB (7167) MAIN ABLE GLOBAL BERHAD,NaN,Food & Beverages,400.51m,1.29,12.08,3.1,8.15
4,ABLEGRP (7086) MAIN ABLEGROUP BERHAD,NaN,Building Materials,31.67m,0.12,400.00,0,0.19
...,...,...,...,...,...,...,...,...
1002,YXPM (0250) ACE YX PRECIOUS METALS BHD,NaN,Personal Goods,96.76m,0.26,10.28,0,9.37
1003,ZECON (7028) MAIN ZECON BERHAD,NaN,Construction,56.01m,0.38,-,0,-1.83
1004,ZELAN (2283) MAIN ZELAN BERHAD,NaN,Construction,50.70m,0.06,-,0,-6.6
1005,ZENTECH (0094) ACE ZEN TECH INTERNATIONAL BE...,NaN,Software,38.00m,0.02,-,0,-0.19
1006,ZHULIAN (5131) MAIN ZHULIAN CORPORATION BERHAD,NaN,Consumer Services,828.00m,1.80,19.48,9.44,8.42

In [18]:
df.drop_duplicates()

,Company,Shariah,Sector,Market Cap,Last Price,PE,DY,ROE
0,AASIA (7054) MAIN ASTRAL ASIA BERHAD,NaN,Plantation,72.60m,0.11,-,0,-2.16
1,AAX (5238) MAIN AIRASIA X BERHAD,NaN,"Travel, Leisure & Hospitality",539.26m,1.30,-,0,-
2,ABFMY1 (0800EA) ETF ABF MALAYSIA BOND INDEX ...,NaN,Bond Fund,1.679b,1.17,-,3.28,-
3,ABLEGLOB (7167) MAIN ABLE GLOBAL BERHAD,NaN,Food & Beverages,400.51m,1.29,12.08,3.1,8.15
4,ABLEGRP (7086) MAIN ABLEGROUP BERHAD,NaN,Building Materials,31.67m,0.12,400.00,0,0.19
...,...,...,...,...,...,...,...,...
1002,YXPM (0250) ACE YX PRECIOUS METALS BHD,NaN,Personal Goods,96.76m,0.26,10.28,0,9.37
1003,ZECON (7028) MAIN ZECON BERHAD,NaN,Construction,56.01m,0.38,-,0,-1.83
1004,ZELAN (2283) MAIN ZELAN BERHAD,NaN,Construction,50.70m,0.06,-,0,-6.6
1005,ZENTECH (0094) ACE ZEN TECH INTERNATIONAL BE...,NaN,Software,38.00m,0.02,-,0,-0.19
1006,ZHULIAN (5131) MAIN ZHULIAN CORPORATION BERHAD,NaN,Consumer Services,828.00m,1.80,19.48,9.44,8.42

In [23]:
nw_df = (df
        .drop(columns=['Shariah'])
        .sort_values('Sector')
        .reset_index(drop=True))
nw_df.to_excel("ticker.xlsx")